.form {
  @media (min-width: $desktop-breakpoint) {
    width: $desktop-width;
    margin: 0 auto;
  }
}

.form__contest-form {
  @media (min-width: $tablet-breakpoint) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form__field-wrapper {
  @media (min-width: $tablet-breakpoint) {
    &--username {
      order: 0;
    }

    &--radio {
      order: 1;
    }

    &--contacts {
      order: 2;
    }

    &--checkbox {
      order: 3;
    }

    &--textarea {
      order: 4;
    }
  }
}

.form__field {
  border: none;

  &--bordered {
    @media (min-width: $tablet-breakpoint) {
      border: 2px solid $basic-gray;
      border-radius: 1px;
    }
  }
}

.form__input {
  border: 2px solid $basic-gray;
  border-radius: 1px;

  &:hover {
    border-color: $theme-black;
  }

  &:focus {
    border-color: $theme-pink;
    outline: none;
  }

  &--fill {
    display: block;
    height: 56px;
    width: 254px;
    padding-left: 20px;
    padding-bottom: 2px;
    font-size: 18px;
    font-family: "Open Sans", "Arial", sans-serif;

    &::-moz-placeholder {
      opacity: 1;
    }

    &::-webkit-input-placeholder {
      color: $theme-black;
      font-family: "Open Sans", "Arial", sans-serif;
    }
  }
}

.form__legend {
  @include font-style(14px, 18px, 400);
  color: $theme-pink;
  text-transform: uppercase;
  text-align: center;
  width: 218px;
  margin: 0 auto;

  @media (min-width: $tablet-breakpoint) {
    background-color: $basic-white;
  }
}

.form__list {
  list-style: none;
  padding: 0;
}

.form__item {
  @media (min-width: $tablet-breakpoint) {
    display: flex;
    align-items: center;
  }
}

.form__label {
  @include font-style(18px, 30px, 400);
  color: $theme-black;

  &--fill {
    @include font-style(14px, 18px, 400);
    display: block;
    color: $theme-pink;
    text-transform: uppercase;
    text-align: left;
    margin: 0;
    padding: 0;
  }
}

.form__field--username {
  @media (min-width: $desktop-breakpoint) {
    width: 433px;
    padding: 0;
  }

  .form__list {
    margin-top: 36px;

    @media (min-width: $tablet-breakpoint) {
      margin-top: 40px;
    }

    @media (min-width: $desktop-breakpoint) {
      width: 100%;
      padding: 0;
      margin-top: 58px;
    }
  }

  .form__label {
    padding-left: 23px;
    padding-bottom: 11px;

    @media (min-width: $tablet-breakpoint) {
      padding-left: 0;
      padding-bottom: 0;
      padding-top: 3px;
    }

    @media (min-width: $desktop-breakpoint) {
      margin-left: -2px;
    }
  }

  .form__item {
    &:not(:first-child) {
      margin-top: 23px;

      @media (min-width: $tablet-breakpoint) {
        margin-top: 52px;
      }

      @media (min-width: $desktop-breakpoint) {
        margin-top: 53px;
      }
    }
  }

  .form__input {
    @media (min-width: $tablet-breakpoint) {
      margin-left: 18px;
      padding-left: 20px;
      width: 100%;
    }

    @media (min-width: $desktop-breakpoint) {
      margin-left: 18px;
    }
  }
}

.form__field--checkbox {
  margin-top: 33px;
  background-color: $theme-grey;

  @media (min-width: $tablet-breakpoint) {
    background-color: $basic-white;
    width: $tablet-width - 4px;
    margin: 66px auto 0;
    padding: 0;
  }

  @media (min-width: $desktop-breakpoint) {
    width: $desktop-width - 4px;
    margin-top: 65px;
  }

  .form__legend {
    margin: 0 auto;
    padding-top: 34px;

    @media (min-width: $tablet-breakpoint) {
      padding: 0 31px 0;
      width: 374px;
      margin-top: -9px;
    }
  }

  .form__list {
    padding: 0;
    margin-top: 42px;
    padding-bottom: 39px;

    @media (min-width: $tablet-breakpoint) {
      margin: 32px 0 0;
      padding-left: 58px;
      padding-bottom: 38px;
      width: 320px;
    }

    @media (min-width: $desktop-breakpoint) {
      display: flex;
      flex-wrap: wrap;
      width: 876px;
      margin: 20px auto;
      padding-bottom: 13px;
    }
  }

  .form__item {
    &:not(:first-of-type) {
      margin-top: 52px;

      @media (min-width: $tablet-breakpoint) {
        margin-top: 22px;
      }

      @media (min-width: $desktop-breakpoint) {
        margin-top: 0;
      }
    }

    @media (min-width: $desktop-breakpoint) {
      width: 315px;
      padding: 12px 0;

      &--chuck-norris,
      &--souvenir {
        width: 295px;
      }

      &--tower,
      &--hotel {
        width: 250px;
      }

      &--sunburn,
      &--souvenir,
      &--hotel {
        padding-top: 10px;
      }
    }
  }

  .form__label {
    position: relative;
    padding: 15px 0 15px 59px;

    &:hover {
      &::before {
        border-color: $theme-black;
      }
    }

    &:focus,
    &:active {
      &::before {
        border-color: $theme-pink;
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: 35px;
      height: 35px;
      left: 0;
      top: 8px;
      background-color: $basic-white;
      border: 2px solid $basic-gray;
      border-radius: 1px;

      @media (min-width: $tablet-breakpoint) {
        top: 11px;
      }
    }

    @media (min-width: $desktop-breakpoint) {
      padding-left: 58px;
    }
  }
}

.form__list--checkbox {
  .form__item {
    @media (min-width: $desktop-breakpoint) {
      &--sharks {
        order: 1;
      }

      &--souvenir {
        order: 5;
      }

      &--chuck-norris {
        order: 2;
      }

      &--sunburn {
        order: 4;
      }

      &--tower {
        order: 3;
      }

      &--hotel {
        order: 6;
      }
    }
  }
}

.form__input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 22px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='16' viewBox='0 0 22 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.7001 0.284331C21.5105 0.102082 21.2557 0 20.9903 0C20.7249 0 20.47 0.102082 20.2805 0.284331L6.70324 13.6028L1.73472 8.72901C1.64045 8.63578 1.52831 8.56178 1.40474 8.51128C1.28118 8.46079 1.14865 8.43479 1.01479 8.43479C0.88093 8.43479 0.748397 8.46079 0.624833 8.51128C0.50127 8.56178 0.389122 8.63578 0.294859 8.72901C0.106004 8.91537 0 9.16747 0 9.43024C0 9.69302 0.106004 9.94512 0.294859 10.1315L5.98331 15.7115C6.07806 15.8037 6.19042 15.8767 6.31396 15.9262C6.4375 15.9756 6.56979 16.0007 6.70324 16C6.96925 15.9989 7.22416 15.8953 7.41303 15.7115L21.7001 1.69675C21.7951 1.60428 21.8705 1.49427 21.922 1.37306C21.9735 1.25186 22 1.12185 22 0.990541C22 0.859234 21.9735 0.729226 21.922 0.608017C21.8705 0.486809 21.7951 0.376798 21.7001 0.284331Z' fill='%23D22856'/%3E%3C/svg%3E%0A");
  top: 19px;
  left: 9px;

  @media (min-width: $tablet-breakpoint) {
    top: 22px;
  }
}

.form__field--contacts {
  margin-top: 38px;

  @media (min-width: $tablet-breakpoint) {
    padding: 0 20px;
    width: $tablet-width - 44px;
    margin-top: 66px;
  }

  @media (min-width: $desktop-breakpoint) {
    width: 896px;
    margin-top: 65px;
  }

  .form__legend {
    display: none;

    @media (min-width: $tablet-breakpoint) {
      display: block;
      margin-top: -9px;
      padding: 0 30px;
      width: 198px;
    }
  }

  .form__list {
    padding-bottom: 42px;
    width: 100%;

    @media (min-width: $tablet-breakpoint) {
      width: 500px;
      margin-top: 35px;
      padding-bottom: 33px;
    }

    @media (min-width: $desktop-breakpoint) {
      display: flex;
      justify-content: space-between;
      width: 820px;
      margin-top: 33px;
      padding-bottom: 19px;
    }
  }

  .form__item {
    &:not(:first-of-type) {
      margin-top: 23px;

      @media (min-width: $tablet-breakpoint) {
        margin-top: 35px;
      }

      @media (min-width: $desktop-breakpoint) {
        margin-top: 0;
      }
    }

    @media (min-width: $tablet-breakpoint) {
      flex-direction: column;
      align-items: flex-start;
    }

    &--tel {
      @media (min-width: $tablet-breakpoint) {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          width: 59px;
          height: 59px;
          background-image: url("../img/icon-phone.svg");
          right: 2px;
          top: 2px;
        }
      }
    }

    &--email {
      @media (min-width: $tablet-breakpoint) {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          width: 59px;
          height: 59px;
          background-image: url("../img/icon-mail.svg");
          right: 2px;
          top: 2px;
        }
      }
    }

    .form__input {
      @media (min-width: $tablet-breakpoint) {
        width: 474px;
      }

      @media (min-width: $desktop-breakpoint) {
        width: 349px;
      }
    }
  }

  .form__label {
    padding-left: 24px;
    padding-bottom: 11px;

    @media (min-width: $tablet-breakpoint) {
      order: 2;
      padding: 16px 0 0 19px;
    }
  }
}

.form__field--radio {
  background-color: $theme-grey;

  @media (min-width: $tablet-breakpoint) {
    background-color: $basic-white;
    margin: 57px auto 0;
    padding: 0;
    width: $tablet-width - 4px;
  }

  @media (min-width: $desktop-breakpoint) {
    width: 431px;
    margin-top: 52px;
  }

  .form__legend {
    margin-top: 34px;

    @media (min-width: $tablet-breakpoint) {
      padding: 0 23px;
      margin-top: -9px;
      width: 318px;
    }
  }

  .form__list {
    margin-top: 39px;
    padding-bottom: 37px;

    @media (min-width: $tablet-breakpoint) {
      margin-top: 28px;
      padding-bottom: 38px;
      width: 100%;
    }
  }

  .form__item {
    &:not(:first-child) {
      margin-top: 45px;

      @media (min-width: $tablet-breakpoint) {
        margin-top: 5px;
      }

      @media (min-width: $desktop-breakpoint) {
        margin-top: 6px;
      }
    }
  }

  .form__label {
    position: relative;
    padding: 20px 0 20px 70px;

    &:hover {
      &::before {
        border-color: $theme-black;
      }
    }

    &:focus,
    &:active {
      &::before {
        border-color: $theme-pink;
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: 37px;
      height: 37px;
      top: 12px;
      left: 0;
      background-color: $basic-white;
      border: 2px solid $basic-gray;
      border-radius: 50%;
    }

    @media (min-width: $tablet-breakpoint) {
      padding-left: 119px;

      &::before {
        top: 15px;
        left: 58px;
      }
    }

    @media (min-width: $desktop-breakpoint) {
      padding-left: 133px;

      &::before {
        left: 72px;
      }
    }
  }
}

.form__input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 15px;
  height: 15px;
  top: 25px;
  left: 13px;
  background-color: $theme-pink;
  border-radius: 50%;

  @media (min-width: $tablet-breakpoint) {
    left: 71px;
    top: 28px;
  }

  @media (min-width: $desktop-breakpoint) {
    left: 85px;
  }
}

.form__field--textarea {
  text-align: center;

  @media (min-width: $tablet-breakpoint) {
    padding: 0;
    padding-bottom: 28px;
    margin: 66px auto;
    width: $tablet-width - 4px;
  }

  @media (min-width: $desktop-breakpoint) {
    margin-top: 65px;
    width: $desktop-width - 4px;
    padding-bottom: 20px;
  }

  .form__legend {
    margin: 0 auto;
    margin-top: 38px;

    @media (min-width: $tablet-breakpoint) {
      margin-top: -9px;
      padding: 0 38px 0;
      width: 184px;
    }
  }

  textarea {
    resize: none;
    width: 236px;
    height: 164px;
    padding: 13px 20px 20px;
    margin: 16px 0;
    border: 2px solid $basic-gray;
    border-radius: 1px;

    &:hover {
      border-color: $theme-black;
    }

    &:focus {
      border-color: $theme-pink;
      outline: none;
    }

    @media (min-width: $tablet-breakpoint) {
      margin-top: 36px;
      width: 456px;
      height: 155px;
      padding-top: 14px;
    }

    @media (min-width: $desktop-breakpoint) {
      width: 776px;
      height: 91px;
      margin-top: 33px;
      padding-top: 13px;
    }

    &::placeholder {
      font-family: "Open Sans", "Arial", sans-serif;
      font-size: 18px;
      line-height: 30px;
      color: $theme-black;
    }

    &::-moz-placeholder {
      opacity: 1;
    }
  }
}

.form__button-wrapper {
  margin-top: 25px;

  @media (min-width: $tablet-breakpoint) {
    order: 5;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
  }

  @media (min-width: $desktop-breakpoint) {
    padding: 0;
    margin-top: -1px;
  }
}

.form__button {
  @include font-style(18px, 30px, 700);
  @include color-style($basic-white, $theme-green);
  height: 63px;
  width: $mobile-width;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;

  @media (min-width: $tablet-breakpoint) {
    padding: 0;
    line-height: 0;
    width: 300px;
  }

  &:hover {
    background-color: $theme-darker-green;
  }

  &:active {
    color: rgba($basic-white, 0.3);
  }

  &:disabled {
    @include color-style($basic-white, $basic-gray);
  }
}

.form__conditions {
  @include font-style(14px, 30px, 400);
  position: relative;
  color: $theme-black;
  text-transform: uppercase;
  text-align: center;
  margin-top: 34px;
  padding-left: 11px;
  padding-bottom: 16px;

  @media (min-width: $tablet-breakpoint) {
    margin-top: 17px;
    padding-bottom: 51px;
  }

  @media (min-width: $desktop-breakpoint) {
    padding-bottom: 0;
  }

  sup {
    position: absolute;
    display: inline-block;
    font-size: 16px;
    top: 15px;
    left: 49px;
    color: $theme-pink;

    @media (min-width: $tablet-breakpoint) {
      left: 0;
    }
  }

  span {
    display: none;

    @media (min-width: $desktop-breakpoint) {
      display: inline;
    }
  }
}
