.banner-intro {
  margin-top: -69px;
  background: {
    color: $theme-black;
    image: url("../img/bg-back-mobile@1x.jpg");
    position: center top;
    size: cover;
    repeat: none;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 320px auto;
  }

  @media (min-width: $tablet-breakpoint) {
    margin-top: -110px;
    background-image: url("../img/bg-back-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }
  }

  @media (min-width: $desktop-breakpoint) {
    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2560px auto;
    }
  }
}

.banner-intro__header {
  @include font-style(24px, normal, 300);
  @include color-style($basic-white, transparent);
  padding: 96px 20px 33px;
  text-align: center;

  @media (min-width: $tablet-breakpoint) {
    @include font-style(50px, normal, 300);
    padding: 175px 20px 84px;
  }

  @media (min-width: $desktop-breakpoint) {
    padding: 170px 20px 43px;
  }
}

.banner-intro__text {
  @include color-style($theme-black, $basic-white);
}

.banner-intro__paragraph {
  @include font-style($line: 30px);
  width: 250px;
  margin: 45px auto 50px;
  padding: 44px 20px 0;
  text-align: center;

  @media (min-width: $tablet-breakpoint) {
    @include font-style(18px, 30px, 400);
    width: 450px;
    padding: 91px 40px 27px;
  }

  @media (min-width: $desktop-breakpoint) {
    width: 572px;
    padding-bottom: 39px;
  }
}
