.banner-intro {
  margin-top: -69px;
  height: 462px;

  background: {
    color: $theme-black;
    image: url("../img/bg-back-mobile@1x.jpg");
    position: center top 3px;
    size: cover;
    repeat: no-repeat;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 320px auto;
  }

  @media (min-width: 321px) {
    background-image: url("../img/bg-back-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }
  }

  @media (min-width: $tablet-breakpoint) {
    margin-top: -110px;
    height: 729px;
    background-position: center top -1px;
  }

  @media (min-width: $desktop-breakpoint) {
    height: 853px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: center top 1px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2560px auto;
    }
  }
}

.banner-intro__header {
  @include font-style(24px, normal, 300);
  @include color-style($basic-white, transparent);
  padding: 97px 20px 0;
  text-align: center;

  @media (min-width: $tablet-breakpoint) {
    @include font-style(50px, normal, 300);
    padding: 176px 20px 15px;
  }

  @media (min-width: $desktop-breakpoint) {
    padding: 171px 20px 43px;
  }
}
