.banner-intro {
  @include background-img($theme-black, "../img/bg-back-mobile@1x.jpg", 50% 0, no-repeat);
  min-height: 150px; //временно, для видимости
}

.banner-intro__header {
  @include font-style(24px, 120%, 300);
  @include color-style($basic-white, transparent);
  @include nullify-position;
  text-align: center;
  padding-top: 40px; //временно, для видимости
}
