.main-nav {
  @include nullify-position;
  @include font-style(18px, 32px, 700);
  text-transform: uppercase;


  @media (min-width: $desktop-breakpoint) {
    @include font-style($line: 18px, $weight: 400);
    width: 630px;
    text-transform: none;
  }
}

@media (min-width: $desktop-breakpoint) {
  .main-nav__list {
    display: flex;
    justify-content: space-between;
  }
}

.main-nav__list {
  @include nullify-position;
  @include list-style;
}

.main-nav__item {
  padding: 25px 0;
  text-align: center;
  box-shadow: 0 1px 0 $basic-black, inset 0 1px 0 rgba(255, 255, 255, 0.15);

  @media (min-width: $desktop-breakpoint) {
    box-shadow: none;
  }

  a {
    @include link-style;
    display: block;
    width: 100%;
  }
}
