.main-nav {
  position: relative;
  margin: 0;
  padding: 0;
  text-transform: uppercase;

  &--open {
    @media (max-width: $desktop-breakpoint) {
      position: absolute;
      top: 69px;
      width: 100%;
    }

    @media (min-width: $tablet-breakpoint) {
      top: 110px;
    }
  }

  &--nojs {
    @media (max-width: $desktop-breakpoint) {
      position: static;

      .main-nav__list {
        display: block;
      }

      .main-nav__toggle {
        display: none;
      }
    }
  }

  @media (min-width: $desktop-breakpoint) {
    width: 620px;
    align-self: center;
    text-transform: none;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop-breakpoint) {
    display: flex;
    justify-content: space-between;
  }
}

.main-nav__item {
  @include font-style(18px, 32px, 700);
  @include color-style($basic-white, $theme-black);
  position: relative;
  padding: 17px 0 15px;
  text-align: center;
  box-shadow:
    0 1px 0 $basic-black,
    inset 0 1px 0 rgba($basic-white, 0.15);

  &:hover {
    color: $theme-pink;
  }

  &:active {
    color: rgba($theme-pink, 0.3);
  }

  &--homepage,
  &--active {
    &:hover,
    &:active {
      color: $basic-white;
      cursor: default;
    }
  }

  @media (min-width: $tablet-breakpoint) {
    padding: 16px 0;
  }

  @media (min-width: $desktop-breakpoint) {
    @include font-style(18px, 18px, 400);
    background-color: transparent;
    box-shadow: none;

    &--active {
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $basic-white;
        left: 0;
        bottom: 4px;
      }
    }
  }

  a {
    @include link-style;
    display: block;
    width: 100%;
  }
}

.main-nav__toggle {
  position: absolute;
  z-index: 100;
  top: -69px;
  right: 0;
  height: 69px;
  width: 90px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-breakpoint) {
    top: -110px;
    height: 110px;
  }

  @media (min-width: $desktop-breakpoint) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle {
  &::before {
    content: "";
    position: absolute;
    top: 21px;
    left: 21px;
    width: 50px;
    height: 3px;
    background-color: $basic-white;
    box-shadow:
      0 10px 0 0 $basic-white,
      0 20px 0 0 $basic-white;

    @media (min-width: $tablet-breakpoint) {
      top: 47px;
    }
  }

  &:hover::before {
    background-color: $theme-pink;
    box-shadow:
      0 10px 0 0 $theme-pink,
      0 20px 0 0 $theme-pink;
  }

  &:active::before {
    background-color: rgba($theme-pink, 0.3);
    box-shadow:
      0 10px 0 0 rgba($theme-pink, 0.3),
      0 20px 0 0 rgba($theme-pink, 0.3);
  }
}

.main-nav--open .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 18px;
    width: 29px;
    height: 3px;
    background-color: $basic-white;

    @media (min-width: $tablet-breakpoint) {
      top: 50%;
    }
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: $theme-pink;
  }

  &:active::before,
  &:active::after {
    background-color: rgba($theme-pink, 0.3);
  }
}

@media (max-width: $desktop-breakpoint) {
  .main-nav--closed .main-nav__item {
    display: none;
  }

  .main-nav--nojs .main-nav__item {
    display: block;
  }
}
