.page-footer {
  @include color-style($bgc: $basic-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 40px;
  min-height: 212px;

  @media (min-width: $tablet-breakpoint) {
    flex-direction: row;
    margin-bottom: 0;
    min-height: 0;
  }
}

.page-footer__logo {
  min-height: 38px;

  @media (min-width: $tablet-breakpoint) {
    min-height: 0;
    padding-top: 20px;
    padding-bottom: 32px;
  }

  @media (min-width: $desktop-breakpoint) {
    padding-top: 0;
    padding-bottom: 20px;
  }
}
