.page-header {
  position: relative;
  z-index: 100;
  background-color: rgba($basic-black, 0.3);

  &--open {
    @media (max-width: $desktop-breakpoint) {
      background-color: $theme-black;
    }
  }

  &--nojs {
    @media (max-width: $desktop-breakpoint) {
      background-color: $theme-black;
    }
  }

  @media (min-width: $desktop-breakpoint) {
    width: 100%;
  }
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
    justify-content: space-between;
    width: $desktop-width;
    margin: 0 auto;
    background-color: transparent;
  }
}

.page-header__logo {
  height: 69px - 23px;
  padding-left: 20px;
  padding-top: 23px;

  @media (min-width: $tablet-breakpoint) {
    height: 110px - 27px;
    padding-top: 27px;
  }

  @media (min-width: $desktop-breakpoint) {
    padding-left: 0;
  }
}
