.page-footer__wrapper {
  margin-top: 40px;
  margin-bottom: 0;
}


// .page-footer {
//   @include color-style($bgc: $basic-white);
//   outline: 1px solid red;
//   margin-top: 40px;
//   margin-bottom: 40px;
// }




//   @media (min-width: $tablet-breakpoint) {
//     // display: flex;
//     // justify-content: space-between;
//     // align-items: center;
//     // flex-direction: column;
//     // flex-direction: row;
//     // margin-bottom: 0;
//     // min-height: 0;
//     // min-height: 212px;
//   }
// }

.page-footer__logo {
  display: block;
  margin: 0 auto;
  min-height: 38px;
  text-align: center;

  @media (min-width: $tablet-breakpoint) {
    min-height: 0;
    padding-top: 20px;
    padding-bottom: 32px;
  }

  @media (min-width: $desktop-breakpoint) {
    padding-top: 0;
    padding-bottom: 20px;
  }
}
