.controls__list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 30px auto 63px;

  @media (min-width: $tablet-breakpoint) {
    justify-content: flex-end;
    width: 320px;
    margin: 0;
  }

  @media (min-width: $desktop-breakpoint) {
    width: 412px;
    margin-right: 60px;
    margin-bottom: 45px;
  }
}

.controls__filter {
  border: none;
  background-color: transparent;
}

.controls__item {
  &:not(:last-of-type) {
    margin-right: 21px;

    @media (min-width: $tablet-breakpoint) {
      margin-right: 0;
    }
  }

  @media (min-width: $tablet-breakpoint) {
    display: flex;
    justify-content: space-between;
    width: 277px;
    border-bottom: 1px solid rgba($theme-black, 0.1);
  }

  @media (min-width: $desktop-breakpoint) {
    width: 100%;
  }
}

.controls__item--crop {
  @media (min-width: $tablet-breakpoint) {
    padding-top: 65px;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-breakpoint) {
    padding-top: 42px;
    padding-bottom: 8px;
  }

  .controls__icon {
    @media (min-width: $tablet-breakpoint) {
      width: 22px;
      height: 22px;
      margin-left: 0;
    }

    @media (min-width: $desktop-breakpoint) {
      width: 47px;
      height: 47px;
      margin-left: -6px;
      padding-bottom: 0;
    }
  }

  .controls__range {
    @media (min-width: $desktop-breakpoint) {
      padding-top: 34px;
    }
  }
}

.controls__item--color {
  @media (min-width: $tablet-breakpoint) {
    padding-top: 24px;
    padding-bottom: 17px;
  }

  @media (min-width: $desktop-breakpoint) {
    padding-top: 12px;
    padding-bottom: 5px;
  }

  .controls__icon {
    padding-top: 5px;
    padding-right: 2px;

    @media (min-width: $tablet-breakpoint) {
      width: 24px;
      height: 22px;
      padding-top: 4px;
    }

    @media (min-width: $desktop-breakpoint) {
      padding-top: 3px;
      padding-bottom: 0;
      width: 50px;
      height: 47px;
      margin-left: -5px;
    }
  }

  .controls__range {
    @media (min-width: $tablet-breakpoint) {
      padding-top: 12px;
    }

    @media (min-width: $desktop-breakpoint) {
      padding-top: 24px;
    }
  }
}

.controls__item--contrast {
  @media (min-width: $tablet-breakpoint) {
    padding-top: 25px;
    padding-bottom: 23px;
  }

  @media (min-width: $desktop-breakpoint) {
    padding-top: 7px;
  }

  .controls__icon {
    padding-right: 13px;

    @media (min-width: $tablet-breakpoint) {
      width: 16px;
      height: 16px;
      padding-left: 3px;
    }

    @media (min-width: $desktop-breakpoint) {
      width: 32px;
      height: 32px;
    }
  }

  .controls__range {
    @media (min-width: $tablet-breakpoint) {
      padding-top: 8px;
    }

    @media (min-width: $desktop-breakpoint) {
      padding-top: 26px;
    }
  }
}

.controls__icon {
  &--current {
    fill: $theme-pink;
    opacity: 1;
  }

  &:hover {
    fill: rgba($theme-black, 0.5);
    opacity: 1;
  }

  &:active {
    fill: $theme-pink;
    opacity: 1;
  }

  @media (min-width: $tablet-breakpoint) {
    fill: $theme-pink;
    opacity: 1;
    margin: 0;
  }

  @media (min-width: $desktop-breakpoint) {
    padding: 10px 0;
  }
}

.controls__range {
  @media (min-width: $tablet-breakpoint) {
    padding-top: 11px;
    padding-bottom: 5px;
  }

  .controls__range-bar {
    display: none;
    width: 240px;
    height: 2px;
    background-color: $basic-black;

    @media (min-width: $tablet-breakpoint) {
      display: block;
      position: relative;
      width: 202px;
      margin-right: 18px;
    }

    @media (min-width: $desktop-breakpoint) {
      margin-right: 31px;
    }

    @media (min-width: $desktop-breakpoint) {
      width: 288px;
    }

    &--current {
      @media (max-width: 559px) {
        position: absolute;
        bottom: -29px;
        left: 20px;
        display: block;
      }
    }
  }

  .controls__range-button {
    position: absolute;
    top: -6px;
    display: block;
    background-color: transparent;
    border: none;
    outline: none;

    &--crop {
      right: 41px;

      @media (min-width: $tablet-breakpoint) {
        right: 50px;
      }

      @media (min-width: $desktop-breakpoint) {
        right: 74%;
      }
    }

    &--color {
      @media (min-width: $tablet-breakpoint) {
        left: 19px;
      }

      @media (min-width: $desktop-breakpoint) {
        left: 84%;
      }
    }

    &--contrast {
      @media (min-width: $tablet-breakpoint) {
        left: 90px;
      }

      @media (min-width: $desktop-breakpoint) {
        left: 54%;
      }
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 10px;
      height: 10px;
      background-color: $basic-white;
      border: 2px solid $theme-pink;
      border-radius: 50%;
    }

    &:active {
      &::before {
        background-color: $theme-pink;
      }
    }
  }
}

.controls__button {
  @include font-style(18px, 18px, 700);
  width: $mobile-width;
  display: block;
  margin: 0 auto 12px;
  padding: 15px 0 16px;
  border: 3px solid $theme-pink;
  border-radius: 30px;

  @media (min-width: $tablet-breakpoint) {
    margin-left: 47px;
    width: 260px;
  }

  @media (min-width: $desktop-breakpoint) {
    margin: 0;
    width: 183px;
  }

  &--post {
    color: $theme-pink;
    background-color: transparent;

    @media (min-width: $tablet-breakpoint) {
      margin-top: 29px;
    }

    @media (min-width: $desktop-breakpoint) {
      margin-top: 28px;
      margin-left: 2px;
    }

    &:hover {
      @include color-style($basic-white, $theme-pink);
    }

    &:active {
      @include color-style(rgba($basic-white, 0.3), $theme-pink);
    }
  }

  &--cancel {
    color: rgba($basic-black, 0.1);
    border-color: rgba($basic-black, 0.1);

    @media (min-width: $tablet-breakpoint) {
      margin-top: 24px;
    }

    @media (min-width: $desktop-breakpoint) {
      margin-top: 28px;
    }

    &:hover {
      color: rgba($theme-black, 0.3);
      border-color: rgba($theme-black, 0.3);
    }

    &:active {
      color: rgba($basic-white, 0.3);
      background-color: rgba($theme-black, 0.3);
      border-color: transparent;
    }
  }
}

.controls__button-wrapper {
  border-top: 1px solid rgba($theme-black, 0.1);
  width: 100%;
  padding-top: 38px;
  padding-bottom: 29px;

  @media (min-width: $tablet-breakpoint) {
    width: 320px;
    border-top: none;
    padding-bottom: 42px;
  }

  @media (min-width: $desktop-breakpoint) {
    width: 410px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    padding-top: 55px;
  }
}
