.post {
  @include color-style($bgc: $theme-grey);
  padding: 25px 15px 25px 17px;
  margin-top: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-breakpoint) {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    min-height: 155px;
    padding: 30px 24px 31px 30px;
  }

  &--panorama {
    @media (min-width: $tablet-breakpoint) {
      min-height: 50px;
      grid-template-columns: 1fr 150px;
      grid-template-rows: min-content min-content;
    }
  }
}

.post__signature {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-breakpoint) {
    &--panorama {
      grid-column: 1 / 2;
    }
  }

  .post__author {
    @include font-style($weight: 700);
  }

  .post__time {
    @include font-style($size: 12, $weight: 300);
    text-transform: uppercase;
  }
}

.post__text {
  @media (min-width: $tablet-breakpoint) {
    overflow: hidden;

    &--panorama {
      grid-column: 1 / 3;
    }
  }
}

.post__like-button {
  @include font-style($size: 12);
  @include color-style($theme-pink, transparent);
  padding: 0;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
  border: none;

  @media (min-width: $tablet-breakpoint) {
    &--panorama {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
    }
  }
}
