.post {
  @include color-style($bgc: $theme-grey);
  overflow-x: hidden;
  padding: 18px 10px 18px 17px;
  margin-top: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-breakpoint) {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    padding: 23px 24px 21px 30px;
    min-height: 111px;
  }

  @media (min-width: $desktop-breakpoint) {
    padding: 24px 24px 20px 28px;
    margin-bottom: 54px;
  }

  &--panorama {
    @media (min-width: $tablet-breakpoint) {
      grid-template-columns: 1fr 124px;
      grid-template-rows: min-content min-content;
      min-height: 50px;
      margin-bottom: 50px;
      padding: 23px 24px 15px 30px;

      br {
        display: none;
      }
    }

    @media (min-width: $desktop-breakpoint) {
      padding: 24px 24px 4px 28px;
    }
  }
}

.post__signature {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-breakpoint) {
    &--panorama {
      grid-column: 1 / 2;
    }
  }

  .post__author {
    @include font-style($weight: 700);
  }

  .post__time {
    @include font-style(12px, 24px, 300);
    text-transform: uppercase;
  }
}

.post__text {
  margin: 0;
  margin-top: -1px;
  padding: 0;

  &--panorama {
    padding-top: 0;
    padding-bottom: 10px;
    margin-top: 0;

    @media (min-width: $tablet-breakpoint) {
      padding: 0;
    }
  }

  &--car {
    padding-bottom: 10px;
  }

  &--window {
    padding-bottom: 11px;
  }

  &--drums,
  &--fair,
  &--pov,
  &--wing {
    padding-bottom: 12px;
  }

  @media (min-width: $tablet-breakpoint) {
    overflow: hidden;
    min-height: 33px;


    &--panorama {
      grid-column: 1 / 3;
      margin-bottom: 10px;
    }
  }
}

.post__like-button {
  @include font-style(12px, 24px, 400);
  @include color-style($theme-pink, transparent);
  position: relative;
  padding: 0;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
  border: none;
  cursor: pointer;

  &--panorama {
    @media (min-width: $tablet-breakpoint) {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      padding-left: 0;

      &::before {
        left: 105px;
        top: 6px;
      }
    }
  }

  @media (min-width: $tablet-breakpoint) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.post__heart-icon {
  margin-right: 16px;

  @media (min-width: $tablet-breakpoint) {
    margin-right: 0;
    padding-right: 5px;
    padding-bottom: 4px;
    order: 2;

    &--panorama {
      padding-bottom: 0;
    }
  }

  @media (min-width: $desktop-breakpoint) {
    padding-right: 7px;
  }
}
