.upload__intro {
  @include font-style(14px, 30px, 400);
  color: $theme-black;
  text-align: center;
  margin: 40px auto;

  @media (min-width: $tablet-breakpoint) {
    font-size: 18px;
  }
}

.upload__submit-photo {
  background-color: $theme-grey;
  text-align: center;

  .upload__img {
    margin-top: 20px;
  }
}

.upload__form-wrapper {
  background-color: $theme-grey;
}

.upload__form {
  @media (min-width: $tablet-breakpoint) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-breakpoint) {
    width: 800px;
  }
}
