.user-photos__list {
  list-style: none;
  margin: 0 auto;

  @media (min-width: $tablet-breakpoint) {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-column-gap: 20px;
  }

  @media (min-width: $desktop-breakpoint) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.user-photos__item {
  &--panorama {
    position: relative;
    padding: 0;

    @media (min-width: $tablet-breakpoint) {
      grid-column: 1 / 3;
    }

    @media (min-width: $desktop-breakpoint) {
      grid-column: 1 / 4;
    }
  }
}

.user-photos__label {
  @include color-style($basic-white, $theme-pink);
  @include font-style(12px, 24px, 700);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  padding: 6px 20px;
  margin: 0;
  text-transform: uppercase;

  @media (min-width: $tablet-breakpoint) {
    top: 57px;
  }

  @media (min-width: $desktop-breakpoint) {
    top: 54px;
  }
}

.user-photos__img {
  display: block;
  width: 100%;
  height: 180px;
  object-fit: cover;

  &--panorama {
    width: 100%;
    height: 137px;
  }

  @media (min-width: $tablet-breakpoint) {
    height: 300px;

    &--panorama {
      height: 509px;
    }
  }

  @media (min-width: $desktop-breakpoint) {
    height: 400px;

    &--panorama {
      height: 506px;
    }
  }
}

.user-photos__panorama {
  position: relative;
  left: 50%;
  right: 50%;
  width: 100vw;
  margin-left: -50vw;
  margin-right: -50vw;
}
