@mixin font-style($size: 14px, $line: 24px, $weight: 400) {
  font: {
    size: $size;
    weight: $weight;
    family: inherit;
  }
  line-height: $line;
}

@mixin link-style {
  color: inherit;
  text-decoration: none;
}

@mixin color-style($color: $theme-black, $bgc: transparent) {
  color: $color;
  background-color: $bgc;
}

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
