.page-header {
  @include color-style($color: $basic-white, $bgc: $theme-black);
  position: relative;
  z-index: 100;

  @media (min-width: $desktop-breakpoint) {
    background-color: $basic-black-opacity-thirty;
    width: 100%;
  }
}

.page-header__wrapper {
  @include color-style($basic-white, $theme-black);
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    background-color: transparent;
  }
}

.page-header__logo {
  height: 69px;

  @media (min-width: $tablet-breakpoint) {
    height: 110px;
  }
}

.main-nav {
  @include nullify-position;
  @include font-style(18px, 32px, 700);
  text-transform: uppercase;


  @media (min-width: $desktop-breakpoint) {
    @include font-style($line: 18px, $weight: 400);
    width: 630px;
    text-transform: none;
  }
}

.main-nav__list {
  @include nullify-position;
  @include list-style;

  @media (min-width: $desktop-breakpoint) {
    display: flex;
    justify-content: space-between;
  }
}

.main-nav__item {
  @include color-style($basic-white, $theme-black);
  padding: 25px 0;
  text-align: center;
  box-shadow: 0 1px 0 $basic-black, inset 0 1px 0 rgba(255, 255, 255, 0.15);

  @media (min-width: $desktop-breakpoint) {
    background-color: transparent;
    box-shadow: none;
  }

  a {
    @include link-style;
    display: block;
    width: 100%;
  }
}
