.page-header {
  @include color-style($color: $basic-white, $bgc: $theme-black);
  position: relative;
  z-index: 100;

  @media (min-width: $desktop-breakpoint) {
    @include color-style($color: $basic-white, $bgc: $basic-black-opacity-thirty);
    position: absolute;
    width: 100%;
  }
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-breakpoint) {

}

@media (min-width: $desktop-breakpoint) {
  .page-header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    padding: 0 120px;
  }
}

.page-header__logo {
  @include inline;


  @media (min-width: $tablet-breakpoint) {
    padding: 45px 0;
  }
}

.main-nav {
  @include nullify-position;
  @include font-style(18px, 32px, 700);
  text-transform: uppercase;


  @media (min-width: $desktop-breakpoint) {
    @include font-style($line: 18px, $weight: 400);
    width: 630px;
    text-transform: none;
  }
}

@media (min-width: $desktop-breakpoint) {
  .main-nav__list {
    display: flex;
    justify-content: space-between;
  }
}

.main-nav__list {
  @include nullify-position;
  @include list-style;
}

.main-nav__item {
  padding: 25px 0;
  text-align: center;
  box-shadow: 0 1px 0 $basic-black, inset 0 1px 0 rgba(255, 255, 255, 0.15);

  @media (min-width: $desktop-breakpoint) {
    box-shadow: none;
  }
  a {
    @include link-style;
    display: block;
    width: 100%;
  }
}
