//VIEWPORTS

$tablet-breakpoint: 660px;
$desktop-breakpoint: 959px;

//CONTAINER SIZES

$mobile-width: 280px;
$tablet-width: 620px;
$desktop-width: 940px;

//COLORS
$basic-black: #000000;
$basic-white: #ffffff;
$basic-gray: #e5e5e5;

$theme-pink: #d22856;
$theme-black: #283645;
$theme-dark-black: #1d2631;
$theme-grey: #f2f2f2;
$theme-green: #2aab6d;
$theme-darker-green: #1c9b5e;

$special-green: #3dc644;
$special-red: #f25b26;
$special-black: #252527;
