//COLORS

//BASIC
$basic-black: #000000;
$basic-white: #ffffff;
$basic-gray: #e5e5e5;

//THEME
$theme-pink: #d22856;
$theme-black: #283645;
$theme-grey: #f2f2f2;
$theme-green: #2aab6d;
$theme-darker-green: #1c9b5e;

//SPECIAL
$special-green: #3dc644;
$special-red: #f25b26;
$special-black: #252527;

//OPACITY
$basic-white-opacity-thirty: rgba(255, 255, 255, 0.3);
$theme-pink-opacity-thirty: rgba(210, 40, 86, 0.3);
$theme-black-opacity-sixty: rgba(40, 54, 69, 0.6);
$theme-black-opacity-fifty: rgba(40, 54, 69, 0.5);
$theme-black-opacity-thirty: rgba(40, 54, 69, 0.3);
$theme-black-opacity-teb: rgba(40, 54, 69, 0.1);
