.advantages {
  position: relative;
  margin-top: 42px;

  @media (min-width: $tablet-breakpoint) {
    margin-top: 50px;
  }

  @media (min-width: $desktop-breakpoint) {
    margin-top: 66px;
  }
}

.advantages__promo {
  @include font-style(24px, 120%, 300);
  position: relative;
  z-index: 150;
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-breakpoint) {
    @include font-style(40px, auto, 300);
  }

  @media (min-width: $desktop-breakpoint) {
    @include font-style(50px, auto, 300);
  }
}

.advantages__promo-end {
  margin-top: 31px;

  @media (min-width: $tablet-breakpoint) {
    width: 350px;
    margin-top: 2px;
    line-height: normal;
  }

  @media (min-width: $desktop-breakpoint) {
    width: 480px;
    margin-top: 4px;
  }
}

.advantages__wrapper {
  @include color-style($bgc: $theme-grey);
  margin-top: 35px;
  padding-top: 60px;
  position: relative;

  @media (min-width: $tablet-breakpoint) {
    padding-top: 36px;
    margin-top: 29px;
  }

  @media (min-width: $desktop-breakpoint) {
    margin-top: 53px;
    padding-top: 10px;
  }
}

.advantages__bg {
  position: absolute;
  top: 0;
  height: auto;
  width: 100%;
}

.advantages__list {
  text-align: center;
  list-style: none;

  @media (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
    text-align: left;
    width: 307px;

    padding: {
      left: 307px;
      right: 0;
      top: 21px;
    }
  }

  @media (min-width: $desktop-breakpoint) {
    display: grid;
    grid-template-columns: 1fr 249px 1fr;
    grid-column-gap: 44px;
    text-align: center;
    padding-top: 0;
    padding-right: 10px;
  }
}

.advantages__item {
  margin-bottom: 33px;

  br {
    display: none;

    @media (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
      display: inline;
    }
  }

  @media (min-width: $tablet-breakpoint) {
    @include font-style(18px, 30px, 400);
    margin-bottom: 35px;
  }

  @media (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
    grid-column: 2 / 3;
  }

  @media (min-width: $desktop-breakpoint) {
    padding-top: 321px;

    &::after {
      content: "";
      position: absolute;
      top: -8px;
      left: 0;
      width: 100%;
      height: 303px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--grey {
    @media (min-width: $desktop-breakpoint) {
      position: relative;

      .advantages__description {
        width: 252px;
      }

      &::after {
        background-image: url("../img/iphone-screen-1-desktop@1x.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/iphone-screen-1-desktop@2x.png");
          background-size: 292px auto;
        }
      }
    }
  }

  &--pink {
    @media (min-width: $desktop-breakpoint) {
      position: relative;

      &::after {
        left: 2px;
        background-image: url("../img/iphone-screen-2-desktop@1x.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/iphone-screen-2-desktop@2x.png");
          background-size: 292px auto;
        }
      }
    }
  }

  &--pink-smiley {
    position: relative;
    margin-bottom: 0;
    padding-bottom: 305px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 280px;

      background: {
        image: url("../img/iphone-screen-mobile@1x.png");
        repeat: no-repeat;
        position: center top 4px;
      }

      @media (min-resolution: 2dppx) {
        background-image: url("../img/iphone-screen-mobile@2x.png");
        background-size: 157px auto;
      }
    }

    @media (min-width: $tablet-breakpoint) {
      padding-bottom: 27px;

      &::after {
        height: 480px;
        left: -330px;
        bottom: 0;
        background-image: url("../img/iphone-screen-3-tablet@1x.png");
        background-position: center;

        @media (min-resolution: 2dppx) {
          background-image: url("../img/iphone-screen-3-tablet@2x.png");
          background-size: 268px auto;
        }
      }
    }

    @media (min-width: $desktop-breakpoint) {
      .advantages__description {
        width: 249px;
      }

      &::after {
        margin-left: 0;
        left: 7px;
        height: 303px;
        background-image: url("../img/iphone-screen-3-desktop@1x.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/iphone-screen-3-desktop@2x.png");
          background-size: 292px auto;
        }
      }
    }
  }
}

.advantages__title {
  @include font-style(18px, 24px, 700);
  @include color-style($color: $basic-black);
  margin-bottom: 0;

  @media (min-width: $desktop-breakpoint) {
    @include font-style(30px, 30px, 700);
    width: 232px;
    margin-left: auto;
    margin-right: auto;
  }
}

.advantages__description {
  @include font-style;
  margin-top: 10px;

  @media (min-width: $tablet-breakpoint) {
    margin-top: 12px;
  }

  @media (min-width: $desktop-breakpoint) {
    @include font-style(18px, 30px, 400);
    margin: 22px auto 0;
  }
}

.advantages__fast {
  @media (min-width: $desktop-breakpoint) {
    @include color-style($bgc: $theme-grey);
  }
}

.advantages__fast-wrapper {
  display: none;

  @media (min-width: $tablet-breakpoint) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
    margin-top: 35px;
  }

  @media (min-width: $desktop-breakpoint) {
    padding-bottom: 111px;
    margin-top: 0;
    padding-top: 27px;
  }
}

.advantages__fast-24 {
  @include font-style(96px, 163px, 700);
  position: relative;
  margin: 0;
  padding-top: 72px;
  color: $theme-pink;
  text-align: center;
  width: 238px;

  &::before {
    content: "";
    position: absolute;
    z-index: 100;
    width: 170px;
    height: 170px;
    left: 18px;
    top: 56px;
    background-color: transparent;
    border: 16px solid $theme-pink;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    width: 238px;
    height: 276px;
    left: 0;
    top: 0;
    background-image: url("../img/icon-timer.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media (min-width: $desktop-breakpoint) {
    font-size: 120px;
    padding-top: 88px;
    margin-left: 31px;
    margin-top: 2px;

    &::before {
      width: 216px;
      height: 216px;
      top: 47px;
      left: -7px;
      border-width: 18px;
    }

    &::after {
      width: 298px;
      height: 345px;
      left: -30px;
      top: -24px;
    }
  }
}

.advantages__fast-text {
  width: 310px;
  padding-top: 31px;

  @media (min-width: $desktop-breakpoint) {
    width: 570px;
    padding-top: 71px;
  }
}

.advantages__fast-header {
  @include font-style(30px, 36px, 700);
  @include color-style($color: $basic-black);
  margin-bottom: 10px;

  @media (min-width: $desktop-breakpoint) {
    margin-bottom: 25px;
    line-height: 30px;

    br {
      display: none;
    }
  }
}

.advantages__fast-description {
  @include font-style;
  width: 298px;
  margin-top: 10px;
  margin-bottom: 10px;

  @media (min-width: $desktop-breakpoint) {
    @include font-style($size: 18px, $line: 30px);
    width: 100%;
    margin-bottom: 31px;
  }
}

.advantages__fast-link {
  @include font-style;
  @include color-style($color: $theme-pink);
  text-decoration: underline;

  &:hover {
    color: $theme-black;
  }

  &:active {
    opacity: 0.3;
    text-decoration: none;
  }

  @media (min-width: $desktop-breakpoint) {
    @include font-style($size: 18px, $line: 30px);
  }
}

.advantages__br {
  display: none;

  @media (min-width: $tablet-breakpoint) {
    &--two {
      display: inline;
    }
  }

  @media (min-width: $desktop-breakpoint) {
    &--one {
      display: inline;
    }

    &--two {
      display: none;
    }
  }
}
