.advantages {
  position: relative;
  margin-top: 50px;
}

.advantages__promo {
  @include font-style(24px, 120%, 300);
  margin: 0;
  margin-bottom: 50px;
  text-align: center;

  @media (min-width: $tablet-breakpoint) {
    @include font-style(40px, auto, 300);
  }

  @media (min-width: $desktop-breakpoint) {
    @include font-style(50px, auto, 300);
  }
}

.advantages__promo-end {
  margin-top: 25px;

  @media (min-width: $tablet-breakpoint) {
    width: 350px;
    margin-top: 0;
  }

  @media (min-width: $desktop-breakpoint) {
    width: 480px;
  }
}

.advantages__wrapper {
  @include color-style($bgc: $theme-grey);
}

.advantages__list {
  text-align: center;
  list-style: none;


  @media (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
    text-align: left;
    width: 310px;
    padding-left: $tablet-width - 280px;
  }

  @media (min-width: $desktop-breakpoint) {
    display: grid;
    grid-template-columns: repeat(3, 252px);
    grid-column-gap: 94px;
    text-align: center;
  }
}

.advantages__item {
  @media (min-width: $tablet-breakpoint) {
    @include font-style(18px, 30px, 400);
  }

  @media (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
    grid-column: 2 / 3;
  }
}

.advantages__title {
  @include font-style(18px, 24px, 700);
  @include color-style($color: $basic-black);

  @media (min-width: $desktop-breakpoint) {
    @include font-style(30px, 30px, 700);
  }
}
