.contacts__intro {
  @include font-style(24px, 120%, 300);
  color: $theme-black;
  text-align: center;
}

.contacts__list {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.contacts__heading {
  @include font-style(18px, auto, 700);
}

.contacts__method {
  @include font-style(24px, auto, 300);
  color: $theme-pink;
  text-decoration: none;

  &--link {
    &:hover {
      color: $theme-black;
      text-decoration: underline;
    }

    &:active {
      opacity: 0.3;
      text-decoration: none;
    }
  }
}
