
.index-intro {
  @include background-img($theme-black, "../img/bg-back-mobile@1x.jpg", 50% 0, no-repeat);
  margin-top: -69px;

  @media (min-width: $tablet-breakpoint) {
    position: relative;
    min-height: 729px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    margin-top: -110px;
  }

  @media (min-width: $desktop-breakpoint) {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    min-height: 853px;
  }
}

.index-intro__wrapper {
  display: grid;
  grid-template-rows: 1fr min-content;
  height: 733px;


  @media (min-width: $tablet-breakpoint) {
    position: absolute;
    bottom: 120px;
    left: 50%;
    right: 25%;
    height: 400px;
    width: $tablet-width;
    margin-left: -330px;
    padding: 0 20px;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
  }

  @media (min-width: $desktop-breakpoint) {
    position: absolute;
    bottom: 130px;
    margin-left: -470px;
    padding: 0 10px;
    height: 500px;
    width: $desktop-width;
    grid-template-rows: 1fr 1fr;
  }
}

.index-intro__header {
  @include font-style(24px, 120%, 300);
  @include color-style($basic-white, transparent);
  text-align: center;
  margin: 0 auto;
  width: 280px;
  padding: 98px 20px 0;


  @media (min-width: $tablet-breakpoint) {
    @include font-style(40px, 120%, 300);
    margin: 0;
    width: 240px;
    padding: 0 30px 0;
  }

  @media (min-width: $desktop-breakpoint) {
    @include font-style(50px, auto, 300);
  }
}

.app-store {
  @include color-style($basic-white, $theme-dark-black);
  text-align: center;

  @media (min-width: $tablet-breakpoint) {
    background-color: transparent;
    grid-row: 2 / 3;
  }
}

.app-store__list {
  @include list-style;
  @include nullify-position;
  margin-top: 32px;

  .app-store__item {
    @include inline;
  }
}

.app-store__description {
  @include font-style($weight: 300);
  padding: 0 20px 38px;

  @media (min-width: $tablet-breakpoint) {
    @include font-style(18px, 24px, 300);
    padding: 0;
  }
}

.app-store__download-link {
  @include link-style;
  @include font-style(18px, 18px, 700);
  @include inline;
  padding: 21px 38px;
  border: 3px solid $basic-white;
  border-radius: 29px;
  margin-top: 28px;
}

