
.index-intro {
  margin-top: -69px;
  background: {
    color: $theme-black;
    image: url("../img/bg-back-mobile@1x.jpg");
    repeat: no-repeat;
    position: 50% 0;
  }

  @media (min-width: $tablet-breakpoint) {
    position: relative;
    min-height: 729px;
    margin-top: -110px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }

  @media (min-width: $desktop-breakpoint) {
    min-height: 853px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }
}

.index-intro__wrapper {
  display: grid;
  grid-template-rows: 1fr min-content;
  height: 733px;


  @media (min-width: $tablet-breakpoint) {
    position: absolute;
    bottom: 120px;
    left: 50%;
    right: 25%;
    height: 400px;
    width: $tablet-width;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    margin-left: -($tablet-width / 2);
    padding: 0 20px;
  }

  @media (min-width: $desktop-breakpoint) {
    position: absolute;
    bottom: 130px;
    width: $desktop-width;
    height: 500px;
    grid-template-rows: 1fr 1fr;
    margin-left: -($desktop-width / 2);
    padding: 0 10px;
  }
}

.index-intro__header {
  @include font-style(24px, 120%, 300);
  @include color-style($basic-white, transparent);
  width: 280px;
  margin: 0 auto;
  padding: 98px 20px 0;
  text-align: center;

  @media (min-width: $tablet-breakpoint) {
    @include font-style(40px, 120%, 300);
    width: 240px;
    margin: 0;
    padding: 0 30px 0;
  }

  @media (min-width: $desktop-breakpoint) {
    @include font-style(50px, auto, 300);
  }
}
