.reviews {
  position: relative;
  margin-bottom: 25px;
  text-align: center;
  background-color: $basic-white;


  @media (min-width: $tablet-breakpoint) {
    margin-top: 62px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-breakpoint) {
    margin-top: 0;
    padding-top: 0;
  }
}

.reviews__quotes-pic {
  display: none;

  @media (min-width: $desktop-breakpoint) {
    display: inline-block;
    margin-top: 72px;
    margin-bottom: 0;
  }
}

.reviews__list {
  list-style: none;
  padding: 0;
}

.reviews__item {
  display: none;

  &--current {
    display: flex;
    flex-direction: column;
  }
}

.reviews__author {
  @include font-style(18px, 30px, 700);
  color: $basic-black;
  padding-top: 9px;
  margin-bottom: 0;

  @media (min-width: $tablet-breakpoint) {
    padding-top: 0;
    font-size: 20px;
    order: 2;
  }

  @media (min-width: $desktop-breakpoint) {
    font-size: 24px;
  }
}

.reviews__author-info {
  display: none;

  @media (min-width: $tablet-breakpoint) {
    @include font-style(14px, normal, 400);
    display: block;
    margin-top: 4px;
    margin-bottom: 1px;
    color: $theme-black;
    order: 3;
  }

  @media (min-width: $desktop-breakpoint) {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 0;
  }
}

.reviews__text {
  margin-top: 13px;
  margin-bottom: 0;

  @include font-style($line: 30px);
  color: $theme-black;

  @media (min-width: $tablet-breakpoint) {
    font-size: 18px;
    order: 1;
    margin-top: 0;
    margin-bottom: 16px;
  }

  @media (min-width: $desktop-breakpoint) {
    width: 688px;
    margin: 28px auto 12px;
  }
}

.reviews__toggles {
  margin-top: 27px;

  @media (min-width: $tablet-breakpoint) {
    margin-top: 37px;
  }
}

.reviews__toggle-button {
  position: relative;
  width: 21px;
  height: 16px;
  border: none;
  background-color: transparent;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 6px;
    height: 6px;
    background-color: rgba($theme-black, 0.3);
    border-radius: 50%;
    margin: auto;
  }

  &:hover::before {
    background-color: rgba($theme-black, 0.6);
  }

  &:active::before {
    background-color: rgba($theme-black, 0.1);
  }

  &--current {
    &::before {
      background-color: transparent;
      border: 3px solid $theme-black;
    }

    &:hover::before,
    &:active::before {
      background-color: transparent;
    }
  }

  @media (min-width: $desktop-breakpoint) {
    display: none;
  }
}

.reviews__slider-button {
  display: none;

  @media (min-width: $desktop-breakpoint) {
    position: absolute;
    z-index: 200;
    top: 212px;
    display: block;
    border: none;
    background: transparent;

    &:hover {
      svg {
        opacity: 0.6;
      }
    }

    &:active {
      svg {
        opacity: 0.1;
      }
    }

    &--back {
      left: 4px;
    }

    &--forward {
      right: 4px;
    }
  }
}
