.reviews {
  text-align: center;
}

.reviews__list {
  list-style: none;
}

.reviews__author {
  @include font-style(18px, 30px, 700);
  color: $basic-black;
}

.reviews__text {
  @include font-style($line: 30px);
  color: $theme-black;
}
