.table {
  width: 832px;
  display: flex;
  margin-left: 50%;
  transform: translateX(-50%);
}

.table__row-headers {
  display: none;
  padding: 0;
  margin: 0;
}

.table__col {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 276px;
}

.table__col-header {
  @include color-style($basic-white, $theme-black);
  border: 2px solid $basic-gray;
  text-align: center;
}

.table__col-title {
  @include font-style(16px, 30px, 700);
  text-transform: uppercase;
}

.table__col-price {
  @include font-style(18px, 30px, 300);
}

.table__col-cell {
  @include color-style($theme-black, $basic-white);
  padding: 24px 19px 25px 20px;
  border: 2px solid $basic-gray;
}

.table__feature {
  position: relative;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  .table__icon {
    position: absolute;
    right: 0;
  }
}
